<form action="" method="post">
    {% csrf_token %}
    <label name="ingredientLabel" for="ingredientInput">
        Add Ingredient:
    </label>
    <input id="ingredientInput" name="ingredientInput">
    <label name="amountLabel" for="amountInput">Amount</label>
    <input type="number" id="amountInput" name="amountInput">
    <label name="unitLabel" for="unitInput">Unit</label>
    <input id="unitInput" name="unitInput">
    <label name="unitPriceLabel" for="unitPriceInput">Unit Price</label>
    <input id="unitPriceInput" name="unitPriceInput">
    <input type="submit" value="Submit"/>
</form>