<!DOCTYPE html>
<html>
    <head>
    </head>

{% extends "MenuIngredientMaster/base.html" %}

{% block content %}
    <br/>

    <form action="" method="post">
        {% csrf_token %}
        <div>
        <label name="ingredientLabel" for="ingredientInput">
            <strong>Add Ingredient:</strong>
        </label>
        <input id="ingredientInput" name="ingredientInput">
        </div>
        </br>
        <div>
            <label name="amountLabel" for="amountInput">Amount</label>
            <input type="number" id="amountInput" name="amountInput">
        </div>
    </br>
        <div>
            <label name="unitLabel" for="unitInput"><strong>Unit</strong></label>
            <input id="unitInput" name="unitInput">
        </div>
    </br>
        <div>
            <label name="unitPriceLabel" for="unitPriceInput">Unit Price</label>
            <input id="unitPriceInput" name="unitPriceInput">
        </div>
    </br>
        <input type="submit" value="Submit"/>
        
    </form>
</html>

{% endblock %}