<!DOCTYPE html>
<head>
</head>

{% extends "MenuIngredientMaster/base.html" %}

{% block content %}
<br/>
<a href="{% url 'addIngredient'%}">Add Ingredient</a>
{% if allIngredients %}
<p>All ingredients in the inventory:</p>
    <table>
    <tr>
        <th>Ingredient</th>
        <th>Amount</th>
        <th>Unit</th>
        <th>Price per Unit</th>
        <th>Total Price</th>
    </tr>
{% for ingredient in allIngredients %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.quantity|floatformat:2 }}</td>
        <td>{{ ingredient.unit }}</td>
        <td>{{ ingredient.unit_price|floatformat:2 }}</td>
        <td>{{ ingredient.total_price|floatformat:2 }}</td> 
        <td><a href="{% url 'changeIngredient' ingredient.id %}"><button>Change Item</button></a></td>
        <td><a href="{% url 'deleteIngredient' ingredient.id %}"><button>Delete Item</button></a></td>
    </tr>
{% endfor %}
</table>
{% else %}
    <p>No ingredients available.</p>
{% endif %}
{% endblock %}