<!DOCTYPE html>
<head>
</head>

{% extends "MenuIngredientMaster/base.html" %}

{% block content %}
<br/>
<a href="{% url 'addMenu' %}"><button>Add Menu</button></a>
<br/>
{% if allMenus %}
    <p><strong>The menus and drinks we serve:</strong></p>
    <table>
        <tr>
            <th>Menu</th>
            <th>Price</th>
        </tr>
        {% for menu in allMenus %}
           
            <tr>
                <td>{{ menu.title }}</td>
                <td>{{ menu.price }}</td>
                <td><a href="{% url 'showRecipe' menu.id %}"><button>Show Recipe</button></a></td>
                <td><a href="{% url 'addRecipeItem' %}?menu_item={{ menu.id }}"><button>Add Recipe Item</button></a></td>
                <td><a href="{% url 'changeMenu' menu.id %}"><button>Change Menu Item</button></a></td>
                <td><a href="{% url 'deleteMenu' menu.id %}"><button>Delete Item</button></a></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No menus available.</p>
    {% endif %}
    <br/>
    
{% endblock %}